<header class=page-header>
  <h1>
    My movies
    <small>Updated every movie night</small>
  </h1>
</header>

<% @movies.each do |movie| %>
<article class=movie>
  <h2><%= movie.title %> (<%= movie.year %>)</h2>

  <% if movie.runtime.present? %>
  <span class=runtime>
    <%= movie.runtime / 60 %>h
    <%= movie.runtime % 60 %>min
  </span>
  <% end %>

  <p class=rating>
    <%= "★" * movie.rating %>
  </p>
</article>
<% end %>
